<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>From jQuery to AngularJS</title>

    <meta name="description" content="A talk about (maybe) moving from jQuery to AngularJS ">
    <meta name="author" content="Victor Bjelkholm">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
    document.write('<link rel="stylesheet" href="css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section data-background="#007777">
                <h2>From jQuery to AngularJS</h2>
                <aside class="notes">
                    Welcome people<br>
                    Thank BarcelonaJS for speaking, Estrella for the beer, and Vreasy for all time
                </aside>
            </section>

            <section data-background="#FFF">
                <h2 style="color: #444">What we will do</h2>
                <ul style="color: #666">
                    <li class="fragment fade-in">What is jQuery?</li>
                    <!-- class="fragment" <li>woami?</li> -->
                    <li class="fragment fade-in">What is AngularJS?</li>
                    <li class="fragment fade-in">When jQuery/AngularJS?</li>
                    <li class="fragment fade-in">What needs to be changed?</li>
                    <li class="fragment fade-in">jqLite in AngularJS</li>
                    <!-- class="fragment" <li>Think first</li> -->
                    <li class="fragment fade-in">Further resources</li>
                </ul>
                <aside class="notes">
                    <p>What jQuery is and how we use it</p>
                    <p>What AngularJS is and how we use it</p>
                    <p>When to use what and what the difference is</p>
                    <p>How AngularJS expects you to think to use correctly</p>
                    <p>jQuery in AngularJS</p>
                    <p>Where to go from here</p>
                    <small>Might seem small, look at code in many slides</small>
                </aside>
            </section>

            <section>
                <section data-background="#FFF">
                    <img src="imgs/JQuery_logo.svg" alt="">
                    <aside class="notes">
                        <p>Anyone know what jQuery is?</p>
                        <p>
                            JavaScript library released in 2006, created for DOM manipulation by John Resig
                        </p>
                        <p>
                            50% of the websites, wordpress, joomla
                        </p>
                    </aside>
                </section>
                <section>
                    <h2>Library</h2>
                    <aside class="notes">
                        <p>Bundle of functions / methods</p>
                        <p>Specific, well-defined operations</p>
                        <p>Tool for a specific need</p>
                        <p>Underscore, backbone, mootools, handlebars, zepto</p>
                    </aside>
                </section>
                <section>
                    <h3>All about the DOM</h3>
                    <aside class="notes">
                        Data, business logic, presentation, everything
                    </aside>
                </section>
                <section>
                    <h2>Demo - jQuery</h2>
                    <iframe src="demos/jquery-todo.html" width="640" height="460"></iframe>
                    <!--<div class="fragment">
							<iframe width="1024" height="680" src="http://embed.plnkr.co/k49Ntl2adxNFpH2QTkWs/preview" frameborder="0"></iframe>
						</div> -->
                    <aside class="notes">
                        Build a todo application in jQuery
                        <ul>
                            <li>List of items</li>
                            <li>Add items</li>
                            <li>Remove item</li>
                            <li>Edit items</li>
                        </ul>
                    </aside>
                </section>
                <section>
                    <pre>
                        <code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<div>
    <input type="text" id="todoName" placeholder="Name of todo" />
    <button id="addTodo" type="submit">Add</button>
    <ul id="todoList">
        <li>
            <span class="text">Item 1</span>
            <a href="#" class="todoRemove">Remove</a>
        </li>
    </ul>
</div>
<div id="todoEdit" style="display: none;">
    <input type="text" id="todoEditField" />
    <button type="submit">Save</button>
</div>
                        </code>
                    </pre>
                    <aside class="notes">
                        <p>No clear connection between button and text field</p>
                        <p>No clear connection between list and actual items</p>
                        <p>We don't know what's going on. We can always guess but guessing is dangerous.</p>
                        <p>We want to be able to read code as smoothly as possible, spend more time reading code than writing code</p>
                    </aside>
                </section>
                <section>
                    <pre>
                        <code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
$(document).ready(function () {
    var addItem = function (value) {
        $('#todoList').append('<li><span class="text">' + value + '</span> <a href="#" class="todoRemove">Remove</a></li>')
    }
    $(document).on('click', '#addTodo', function () {
        addItem($('#todoName').val());
    });
    $(document).on('click', '.todoRemove', function (ev) {
        ev.preventDefault();
        $(this).parent().remove();
    });
    $(document).on('click', '#todoList span', function () {
        var itemText = $(this).text();
        $(this).parent().remove();
        $('#todoEdit input').val(itemText);
        $('#todoEdit').show();
    });
    $(document).on('click', '#todoEdit button', function () {
        var itemText = $('#todoEdit input').val();
        addItem(itemText);
        $('#todoEdit').hide();
    })
})
                        </code>
                    </pre>
                    <aside class="notes">
                        <p>References that will break once moved.</p>
                        <p>Does stuff it shouldn't care about</p>
                        <p>In the wrong context, does the wrong thing</p>
                    </aside>
                </section>
            </section>
            </section>

            <section>
                <section data-background="#FFF">
                    <img src="imgs/AngularJS-medium.png" alt="">
                    <aside class="notes">
                        <p>Anyone know what AngularJS is?</p>

                        <p>Open source framework for developing webapplications</p>
                        <p>Created by Misko Hevery and Adam Abrons 2009</p>
                        <!-- <p>Software behind JSON storage service</p> -->
                        <p>Started out to help webdesigners who isn't developer to spray on some extra HTML and magic with data storage</p>
                        <p>Misko redesigning Google Feedback admin panel</p>
                        <p>6 months, issues with productivity</p>
                        <p>Misko said "with this project I'm working on the side, I could have done this in two weeks!"</p>
                        <p>Google accepted the challenge "Prove us wrong"</p>
                        <p>Took him three weeks, not two</p>
                        <p>From 17'000 LOC, down to 1'500 LOC, same application</p>
                    </aside>
                </section>
                <section>
                    <h2>Framework</h2>
                    <aside class="notes">
                        <p>Abstract design</p>
                        <p>Way of life</p>
                        <p>User code is in framework, not user code calling framework</p>
                        <p>"Don't call us, we call you" Hollywood principle, Inversion of control</p>
                        <p>"You call library code, framework calls your code"</p>
                    </aside>
                </section>
                <section>
                    <h3>DOM is only one part</h3>
                    <aside class="notes">
                        <p>Quick about MVC</p>
                        <p>DOM is for showing stuff and interactions</p>
                        <p>All the rest is elsewhere</p>
                    </aside>
                </section>
                <section>
                    <h2>Demo - AngularJS</h2>
                    <iframe src="demos/angular-todo.html" width="640" height="460"></iframe>
                    <div class="fragment">
                        <!-- <iframe width="1024" height="680" src="http://embed.plnkr.co/c0C8gEvLOjuuqSpoj3a9/preview" frameborder="0"></iframe> -->
                    </div>
                    <aside class="notes">
                        (25 minutes)
                        <ul>
                            <li>List of items</li>
                            <li>Add items</li>
                            <li>Remove item</li>
                            <li>Edit items</li>
                        </ul>
                    </aside>
                </section>
                <section>
                    <pre>
                        <code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<div ng-app="plnkr">
    <div ng-controller="IndexCtrl">
        <input type="text" ng-model="newTodo.name"/>
        <button type="submit" ng-click="addTodo(newTodo)">Add</button>
        <ul>
            <li ng-repeat="item in items">
                <span ng-click="editTodo(item)">{{ item.name }}</span>
                <a href="#" ng-click="removeTodo(item)">Remove</a>
            </li>
        </ul>
        <div ng-show="editingTodo">
            <input type="text" ng-model="editingTodo.name" />
            <button ng-click="editingTodo = null">Done</button>
        </div>
    </div>
</div>
                        </code>
                    </pre>
                    <aside class="notes">
                        <p>You can see clear connections</p>
                        <p>Stuff can be moved and still working</p>
                        <p>No classes/ids because that's about styling, other concern!</p>
                    </aside>
                </section>
                <section>
                	<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
var app = angular.module('plnkr', []);

app.controller('IndexCtrl', function($scope) {
    $scope.items = [
        { name: 'Item 1' },
        { name: 'Item 2' }
    ];
    $scope.newTodo = {
        name: "New todo item"
    };

    $scope.addTodo = function(newTodo) {
        $scope.items.push(angular.copy(newTodo));
    }

    $scope.removeTodo = function(item) {
        var index = $scope.items.indexOf(item);
        $scope.items.splice(index, 1);
    }

    $scope.editTodo = function(item) {
        $scope.editingTodo = item;
    }
})
                	</code></pre>
                    <aside class="notes">
                        Does only what it needs to do. No view stuff here!
                    </aside>
                </section>
            </section>

            <section>
                <section data-background="#FFF">
                    <img src="imgs/JQuery_logo.svg" width="400">
                    <h2 style="color: #444; font-size: 3em;">VS</h2>
                    <img src="imgs/AngularJS-medium.png" alt="" width="400">
                    <aside class="notes">
                        <p>Which is the best one?</p>
                        <p>None because the question is bad, different use cases</p>
                    </aside>
                </section>

                <section>
	                    <h3>Library versus Framework</h3>
	                    <!-- <aside class="notes">
	                        A library is called from user code Inversion Of Control Key part of what makes a framework different to a library http://martinfowler.com/bliki/InversionOfControl.html
	                    </aside> -->
                </section>
                <section>
                	<h3>Library</h3>
                	<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<li>
    <span class="text">Item 1</span>
    <a href="#" class="todoRemove">Remove</a>
</li>
                	</code></pre>
                	<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
$(document).on('click', '.todoRemove', function(ev) {
	ev.preventDefault();
	$(this).parent().remove();
});
                	</code></pre>
                	<aside class="notes">
                		Stuck to the place where it's created<br>
                		Does stuff that could change in the future<br>
                        <pre><code><a href="#" class="somethingElse"></a></code></pre>
                	</aside>
                </section>
                <section>
                	<h3>Framework</h3>
                	<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<li ng-repeat="item in items">
	<span ng-click="selectTodo(item)">{{ item.name }}</span>
	<a href="#" ng-click="removeTodo(item, $event)">Remove</a>
</li>
                	</code></pre>
                	<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
$scope.removeTodo = function (item, $event) {
  $event.preventDefault();
  var index = $scope.items.indexOf(item);
  $scope.items.splice(index, 1);
}
                	</code></pre>
                	<aside class="notes">
                		<p>Just a method, could be called from anywhere, don't care about outside</p>
                        <code><a href="#" ng-click="removeTodo(selectedItem)">Remove selected</a></code>
                	</aside>
                </section>

                <section>
                    Imperative versus Declarative
                    <aside class="notes">
                        <p>Write code in two ways</p>
                        <p>AngularJS extends HTML, embraces HTML, what happened in the demo</p>
                        <p>Imperative - How to do something, end up with what we wanted to do</p>
                        <p>Declarative - What we want to do, how it does it is not a concern of ours</p>
                        <!-- <p>Imperative - How to do something and what we want to happen, step by step</p>
                        <p>Declarative - What we want to do, rest is magic. </p> -->
                        <p>Don't decide the flow of the control</p>
                        <p>Abstract away logic, seperation of concerns</p>
                    </aside>
                </section>
                <section>
                	<h3>Imperative</h3>
                	<pre><code>
$('#addTodo').on('click', function(ev) {
    ev.preventDefault();
    addItem($('#todoName').val());
});
                	</code></pre>
                    <aside class="notes">
                        How we want to add the item
                    </aside>
                </section>
                <section>
                	<h3>Declarative</h3>
                	<pre><code>
<button type="submit" ng-click="addTodo(newTodo)">Add</button>
                	</code></pre>
                    <aside class="notes">
                        Just add the goddamn todo
                    </aside>
                </section>

                <section>
                    Website versus Application
                    <aside class="notes">
                        <p>jQuery - Start with website, extend with functionality</p>
                        <p>AngularJS - Start with thinking, doing foundation, add functionality, end up with website</p>
                    </aside>
                </section>

                <section>
                    When to use what
                    <aside class="notes">
                        (30 minutes)
                        <p>jQuery - Websites, no data, minimal interactions</p>
                        <p>AngularJS - Application, a lot of interactions, contains data, communicates with something (db / backend)</p>
                    </aside>
                </section>
            </section>
<!--
																				###################
																				## INTROSPECTION ##
																				###################
-->
            <section data-background="http://www.mrwallpaper.com/wallpapers/sunset-over-clouds.jpg" style="text-align:left;">
                <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
                <h3>Introspection</h3>
                <aside class="notes">
                    <p>Thinking and reflection moment</p>
                    <p>jQuery, library for the dom, tell it what do, looking on html isn't enough</p>
                    <p>AngularJS, framework to build applications, we extend it after it's law and principles</p>
                    <p>You know library, now it's time for framework</p>
                    <p>First steps first</p>
                </aside>
            </section>


            <section>
                <section data-background="#FFF">
                    <h3 style="color: #444">What needs to be changed?</h3>
                </section>
                <section>
                    <h2>Don't think about jQuery</h2>
                    <p>
                        <small>
                            "Don't even use jQuery. Don't even include it. It will hold you back"
                        </small>
                    </p>
                    <aside class="notes">
                        When I started out, I would often reach for the jQuery solution, easy and fast.<br>
                        Not including jQuery anymore brought me to seek native angularjs solution which I'm now benifitting from.
                    </aside>
                </section>

                <section>
                    <h2>Cornerstones of AngularJS</h2>
                    <ul>
                        <li class="fragment">DRY</li>
                        <li class="fragment">Structure</li>
                        <li class="fragment">Testability</li>
                    </ul>
                    <aside class="notes">
                        Data back and forth between the browser and data storage
                        <br>Don't repeat yourself, reusability
                        <br>Common structure for applications
                        <br>Built in testbility for developers
                        <br>Difference between website and application, you need tests!
                    </aside>
                </section>

                <section>
                    <h2>Don't Repeat Yourself</h2>
                    <pre class="fragment"><code class="javascript" data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
angular.module('friendList', [])
.directive('list', function () {
    return {
        restrict: 'E',
        scope: {
            'ngModel': '='
        },
        template: '<pre><code>{{ ngModel }}</code></pre>'
    }
})
                    </code></pre>
                    <pre class="fragment"><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<div>
    Your friendlist!
    <list ng-model="user.friends"></list>
</div>
                    </code></pre>
                    <pre class="fragment"><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<div>
    Mauros friendlist!
    <list ng-model="User('userId').friends"></list>
</div>
                    </code></pre>
                </section>
                <section>
                    <h2>Structure</h2>
                </section>
                <section>
                    <h2>Structure</h2>
                    mask.js - angular-ui/ui-utils
                    <pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
angular.module('ui.mask', [])
  .directive('uiMask', ['uiMaskConfig', function (maskConfig) {
    return {
      priority: 100,
      require: 'ngModel',
      restrict: 'A',
      compile: function uiMaskCompilingFunction(){
        var options = maskConfig;
[...]
                    </code></pre>
                </section>
                <section>
                    <h2>Structure</h2>
                    progressbar.js - angular-ui/bootstrap
                    <pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
angular.module('ui.bootstrap.progressbar', ['ui.bootstrap.transition'])
    .directive('progress', function() {
        return {
            restrict: 'EA',
            replace: true,
            controller: 'ProgressBarController',
            scope: {
                value: '=percent',
                onFull: '&',
                onEmpty: '&'
[...]
                    </code></pre>
                </section>
                <section>
                    <h2>Structure</h2>
                    Restangular - mgonto/restangular
                    <pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
angular.module('restangular', [])
    .provider('Restangular', function() {
        // Configuration
        var Configurer = {};
        Configurer.init = function(object, config) {
            /**
                    </code></pre>
                </section>
                <section>
                    <h3>Testability</h3>
                    <pre><code data-trim class="javascript" contenteditable style="font-size: 18px; margin-top: 20px;">
it("should display the welcome text properly", function() {
    var element = $compile('<div welcome="user"></div>')($rootScope);
    expect(element.text()).to.match(/Welcome/i);
})
                    </code></pre>
                </section>
                <section>
                    <h3>Architecture</h3>
                    <h6>MVC</h6>
                    <ul>
                        <li class="fragment">Model - Data</li>
                        <li class="fragment">View - Presentation</li>
                        <li class="fragment">Controller - Connector</li>
                    </ul>
                    <aside class="notes">
                        <ul>
                            <li>Model - holds our data, usually comes from the backend</li>
                            <li>View  - shows our data and makes it interactive</li>
                            <li>Controller - communicator between model and view</li>
                        </ul>
                    </aside>
                </section>
            <section>
                <h3>MVC in AngularJS</h3>
                <pre class="fragment"><code data-trim class="javascript" contenteditable style="font-size: 18px; margin-top: 20px;">
angular.module('User', [])
    .provider('User', function () {
        [...]
    });

angular.module('FriendList', [])
    .directive('list', function () {
        return {
            [...]
        }
    })

angular.module('mainApp', ['User', 'FriendList'])
    .controller('IndexCtrl', function($scope, User) {
        $scope.user = User.current();
    })
                </code></pre>
                <pre class="fragment"><code data-trim class="html" contenteditable style="font-size: 18px; margin-top: 20px;">
<div ng-controller="IndexCtrl">
    Your friends!
    <list ng-model="user.friends"></list>
</div>
                </code></pre>
                <aside class="notes">
                    <p>Model and Controller above</p>
                    <p>View below</p>
                </aside>
            </section>
            </section>

            <section>
                <section data-background="#FFF">
                    <h2 style="color: #444">jqLite in AngularJS</h2>
                    <p style="color: #777">
                        Subset of jQuery for DOM manipulation
                    </p>
                </section>
                <section>
                    <h2>Directives in AngularJS</h2>
                    <p>
                        Reusable components
                    </p>
                    <aside class="notes">
                        <p>Creating new HTML elements, available for reuse everywhere!</p>
                    </aside>
                </section>
                <section>
                    <iframe src="demos/angular-directives.html" width="640" height="460"></iframe>
                </section>
            <section>
                <div style="float:left; margin-left: -200px">
                    <iframe src="demos/angular-directives.html" width="500" height="460"></iframe>
                </div>
                <pre class="fragment"><code data-trim class="html" style="font-size: 18px; margin-top: 20px;">
<div>
  <pre>{{ users | json }}</pre>
</div>
                </code></pre>
                <pre class="fragment"><code data-trim class="html" style="font-size: 18px; margin-top: 20px;">
<div style="float: right;">
  <user-image user="current_user"></user-image>
</div>
                </code></pre>
                <pre class="fragment"><code data-trim class="html" style="font-size: 18px; margin-top: 20px;">
<user-list users="users"></user-list>
                </code></pre>
                <pre class="fragment"><code data-trim class="html" style="font-size: 18px; margin-top: 20px;">
<div style="float: left;">
  <user-card user="current_user"></user-card>
</div>
                </code></pre>
                <aside class="notes">
                    <p>user-image for showing image</p>
                    <p>user-card for showing image and related information</p>
                    <p>user-list for list of user-cards</p>
                </aside>
            </section>
            <section>
<pre style="margin-top: -50px"><code>
<div>
  <user-image user="current_user"></user-image>
</div>

<div>
  <user-card user="current_user"></user-card>
</div>

<div>
  <user-list users="users"></user-list>
</div>

</code></pre>
<pre ><code class="javascript">
    app.directive('userImage', function () {
      return {
        restrict: 'E',
        scope: {
          'user': '='
        },
        template: '<img height="50" ng-src="{{user.image}}"/>'
      }
    })

    app.directive('userCard', function() {
            return {
                restrict: 'E',
                scope: {
                    'user': '='
                },
                template: '<div><h3>{{ user.name }}</h3>' +
                          '<h5>@{{ user.twitter }}</h5>' +
                          '<user-image user="user"></user-image></div>'
            }
        })

    app.directive('userList', function() {
            return {
                restrict: 'E',
                scope: {
                    'users': '='
                },
                template: '<div><user-card ng-repeat="user in users" user="user"></user></div>'
            }
        })
</code></pre>
            </section>

            <section>
                <h3>Where is jQuery?</h3>
            </section>

            <section>
                <h3>jqLite methods</h3>
                <center>addClass - after - append - attr - bind - children - clone - contents - css - data - eq - find - hasClass - html - next - on - off - parent - prepend - prop - ready - remove - removeAttr - removeClass - removeData - replaceWith - text - toggleClass - triggerHandler - unbind - val - wrap </center>
                <aside class="notes">
                    Not here? Can't use it!
                </aside>
            </section>

            <section>
                <h3>jqLite</h3>
                <iframe src="demos/angularjs-jqlite.html" width="640" height="460"></iframe>
            </section>

            <section>
                <h3>jqLite</h3>
                <pre class="fragment"><code data-trim class="html" style="font-size: 18px; margin-top: 20px;">
<change-color color="purple"></change-color>
<div ng-repeat="color in colors">
    <change-color color="{{color}}"></change-color>
</div>
                </code></pre>
                <pre class="fragment"><code data-trim class="javascript" style="font-size: 18px; margin-top: 20px;">
app.controller('IndexCtrl', function($scope) {
    $scope.colors = ['red', 'blue', 'green', 'yellow'];
})

app.directive('changeColor', function() {
        return {
            restrict: 'E',
            scope: {
                'color': '@'
            },
            template: '<h3>Change my color to {{ color }} by clicking on me!!!</h3>',
            link: function (scope, element) {
                element.bind('click', function () {
                    element.css('color', scope.color);
                });
            }
        }
    })
                </code></pre>

            </section>

            </section>


            <section data-background="#FFF">
                <h2 style="color: #444; font-size: 3em">Think first</h2>
                <p style="color: #777">
                    Take time to think before coding
                </p>
            </section>

            <section data-background="#FFF">
                <h3 style="color: #444">Further resources</h3>
                <ul style="color: #666">
                    <li>Developer guide</li>
                    <li>Official API documentation</li>
                    <li>Official Youtube channel</li>
                    <li>#angularjs on Freenode</li>
                    <li>Mailing list</li>
                    <li>Stack Overflow</li>
                </ul>
            </section>
            <section data-background="#007777">
                <h2 style="font-size: 3em">The End</h2>
                <p style="text-align: left; margin-top: 300px">
                    <small><a href="mailto:victor@vreasy.com">victor@vreasy.com</a>
                    </small>
                    <br>
                    <small><a href="http://www.twitter.com/victorbjelkholm">@victorbjelkholm</a>
                    </small>
                    <br>
                    <small><a href="http://www.github.com/victorbjelkholm">github.com/victorbjelkholm</a>
                    </small>
                </p>
            </section>
        </div>

    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: false,
        progress: false,
        history: false,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [{
            src: 'lib/js/classList.js',
            condition: function() {
                return !document.body.classList;
            }
        }, {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() {
                hljs.initHighlightingOnLoad();
            }
        }, {
            src: 'plugin/notes/notes.js',
            async: true,
            condition: function() {
                return !!document.body.classList;
            }
        }]
    });
    </script>

</body>

</html>
